<div class="center">
  <div class="container center">
    <div class="vertical-center">
      <form #edu="ngForm" class="center" (ngSubmit)="onSubmit(edu.value)" >
        <mat-form-field appearance="fill">
          <mat-label>hNo</mat-label>
          <input  ngModel #hNo="ngModel" name="hNo" required [ngModel]="formData.hNo"  matInput>
          <mat-error *ngIf="!hNo.value">hNo is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>colony</mat-label>
          <input ngModel  #colony="ngModel" name="colony" [ngModel]="formData.colony" required  matInput>
          <mat-error *ngIf="!colony.value">colony is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>state</mat-label>
          <input ngModel [ngModel]="formData.state" #state="ngModel" name="state" required  matInput>
          <mat-error *ngIf="!state.value">state is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>country</mat-label>
          <input ngModel [ngModel]="formData.country" #country="ngModel" name="country" required  matInput>
          <mat-error *ngIf="!country.value">country is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>locality</mat-label>
          <input ngModel [ngModel]="formData.locality"  #locality="ngModel" name="locality" required  matInput>
          <mat-error *ngIf="!locality.value">locality is required</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>city</mat-label>
          <input ngModel [ngModel]="formData.city"  #city="ngModel" name="city" required  matInput>
          <mat-error *ngIf="!city.value">city is required</mat-error>
        </mat-form-field>
        <br>
        <br>
        <br>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
