<div class="center">
  <div class="container center">
    <div class="vertical-center">
      <mat-card>
        <form #edu="ngForm" (ngSubmit)="onSubmit(edu)">
          <h1>Education Edit Form</h1>
          <mat-form-field appearance="fill">
            <mat-label>School</mat-label>
            <input ngModel #school="ngModel" name="school" required [ngModel]="formData.school" matInput>
            <mat-error *ngIf="!school.value">School is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Degree</mat-label>
            <input ngModel #degree="ngModel" name="degree" [ngModel]="formData.degree" required matInput>
            <mat-error *ngIf="!degree.value">degree is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Grade</mat-label>
            <input ngModel [ngModel]="formData.grade" #grade="ngModel" name="grade" required matInput>
            <mat-error *ngIf="!grade.value">grade is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Field of Study</mat-label>
            <input ngModel [ngModel]="formData.fieldOfStudy" #fieldOfStudy="ngModel" name="fieldOfStudy" required
                   matInput>
            <mat-error *ngIf="!fieldOfStudy.value">fieldOfStudy is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input ngModel [ngModel]="formData.description" #description="ngModel" name="description" required matInput>
            <mat-error *ngIf="!description.value">description is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input ngModel #startDate="ngModel" [ngModel]="formData.startDate" matInput [matDatepicker]="picker"
                   name="startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input ngModel #endDate="ngModel" [ngModel]="formData.endDate" matInput [matDatepicker]="picker2"
                   name="endDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <br>
          <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
