<div class="center">
  <form #edu="ngForm" class="center" (ngSubmit)="onSubmit(edu.value)" >
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input  ngModel #name="ngModel" name="name" required [ngModel]="formData.name"  matInput>
      <mat-error *ngIf="!name.value">name is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>issuingOrganisation</mat-label>
      <input ngModel  #issuingOrganisation="ngModel" name="issuingOrganisation" [ngModel]="formData.issuingOrganisation" required  matInput>
      <mat-error *ngIf="!issuingOrganisation.value">issuingOrganisation is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>credentialUrl</mat-label>
      <input ngModel [ngModel]="formData.credentialUrl" #credentialUrl="ngModel" name="credentialUrl" required  matInput>
      <mat-error *ngIf="!credentialUrl.value">credentialUrl is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>credentialId</mat-label>
      <input ngModel [ngModel]="formData.credentialId"  #credentialId="ngModel" name="credentialId" required  matInput>
      <mat-error *ngIf="!credentialId.value">credentialId is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>issueDate</mat-label>
      <input ngModel #issueDate="ngModel" [ngModel]="formData.issueDate" matInput [matDatepicker]="picker" name="issueDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>expirationDate</mat-label>
      <input ngModel #expirationDate="ngModel" [ngModel]="formData.expirationDate" matInput [matDatepicker]="picker2" name="expirationDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>

<!--{-->
<!--"id": 2,-->
<!--"name": "Angular",-->
<!--"issuingOrganisation": "udemy",-->
<!--"credentialUrl": "https://udemy/mycertificatte",-->
<!--"credentialId": "kludebnafvo78t3q4tybfl",-->
<!--"issueDate": "2022-09-11T18:30:00.000+00:00",-->
<!--"expirationDate": "2022-09-29T18:30:00.000+00:00",-->
<!--"profileId": 4-->
<!--}-->
