<div class="center">
  <h1>Profile</h1>
  <br>
  <ul class="cards">
    <li>
      <a style="cursor: pointer" class="card">
        <img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <img class="card__thumb" [src]="profile.imageUrl" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">{{profile.firstName | uppercase}}  {{profile.lastName | uppercase}}</h3>
              <span class="card__status">{{profile.headline}}</span>
            </div>
          </div>
          <p class="card__description">{{profile.email}}<br>{{profile.phone}}</p>
        </div>
      </a>
    </li>
  </ul>

  <br>
  <mat-divider></mat-divider>
  <h1>Address<button mat-button routerLink="address/new">Add</button></h1>
  <app-address></app-address>
  <br>
  <br>
  <mat-divider></mat-divider>
  <h1>Education<button mat-button routerLink="education/new">Add</button></h1>
  <br>
  <app-education></app-education>
  <br>
  <br>
  <br>
  <mat-divider></mat-divider>
  <h1>Certification<button mat-button routerLink="certification/new">Add</button></h1>
  <br>
  <app-certification></app-certification>
  <br>
  <br>
  <br>
  <mat-divider></mat-divider>
  <h1>Experience<button mat-button routerLink="experience/new">Add</button></h1>
  <br>
  <app-experience></app-experience>
</div>


